@import url('https://fonts.googleapis.com/css2?family=Lato&family=Racing+Sans+One&display=swap');

$con-width: 800px;
$con-pad: 1rem;
$blue-green: #66FCF1;
$white: #efefef;
$border-color: #666;
$mid-black: #121212;
$gray: #202020;
$sec-color: #57E692;
$danger-color: #FC3F35;
$warn-color: rgb(248, 211, 0);